<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <appSettings>
    <add key="ConnectionString" value=""/>
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.7.2"/>
    <pages>
      <namespaces> 
      </namespaces>
      <controls>
      </controls>
    </pages>
  </system.web>
  
  <system.webServer>
   
  </system.webServer>
  
  <system.codedom>
    <compilers>
    </compilers>
  </system.codedom>
  
</configuration>